@import "./variables.less";

body {
    font-family: sans-serif;
    background: linear-gradient(to right, #f1f1f1, #ffffff); 
}
#main {

}
.list {
    list-style-type: none;
}
.app-screen {
    min-height: 400px;
    max-width: 420px;
    min-width: 320px;
    width: 30%;
    margin: 5px auto;
   // background: linear-gradient(to right, #00c6ff, #0072ff);
 }

 .app-title {
     text-align: center;
     font-size: @font-xs + 2;
     padding: 5px;
     background-color: #95b2bc;
     color: #fff;
 }
 .app-header {
    height: 100px;
    background: linear-gradient(to bottom, #C3F1FE, #5FA6FF);
    &:before {
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            background-image: url(/static/pexels-photo.png);
            background-size: 35%;
            background-position-y: 100%;
            background-repeat:  repeat-x;
            background-color: #444444;
            opacity: 0.35;
            background-blend-mode: difference;
        }

}

.app-words {
    padding: 10px 15px;
    margin: 0;
    text-align: center;
    li {
        display: inline-block;
        min-width: 70px;
        text-align: center;
        font-size: @font-xs + 1;
        margin: 5px 10px;
        color: @grey-color;
        .text-shadow();
        &.done {
            color: #64B5F6;
            text-decoration: line-through;
        }
    }
}
.btn-list {
    height: 30px;
    padding: 10px 20px;
    text-align: center;
}
.ghost-btn {
    padding: 10px 20px;
    background: #f5bccf;
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    font-weight: bold;
    margin: 0 15px;
    .text-shadow();
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}